# Test report

##  Unittests

Unittest coverage is 93%. \
[!coverage_report](https://github.com/Jikke/Quote_generator/blob/main/documentation/Coverage_report.png?raw=true)
